$black: #000000;
$grey: #acacac;
$break-mobile: 767px;
$break-tablet: 1112px;
$break-desktop: 1113px;

.container {
    max-width: 1127px;
    margin: 0 auto;
    @media screen and (max-width: $break-mobile) {
        max-width: 665px;
      }
}

 @mixin flex {
     display: flex;
     align-items: center;
 } 
.header {
    justify-content: space-between;
    @include flex;

    &__img{
        width: 200px;
        height: 65px;
    }
    &__menu{
        margin-right: 10px;
        cursor: pointer;
        & ul{
            list-style: none;
            padding: 0;
            text-align: right;
            width: 100px;
            display: none; 
            margin-top: 0px;
            cursor: pointer;
        }
        & li{
            margin:10px 0px;
            & a{
                color: $black;
                text-decoration: none; 
            }
        }
    }

    &__menu:hover ul , ul:hover{
        display: block;
    }
    
}

.header__menu li a:hover{
    text-decoration: underline;
}
.header_menu--profile {
    margin-right: 8px;
    display: flex;
}
.header_menu--profile img {
    width: 40px;
    height: 40px;
}
p{
    color: $black;
    margin-left: 5px;
}
.main {
    justify-content: space-between;
    @include flex;
    margin-bottom: 15px;
    
    &-search{
        cursor: pointer;
        @media only screen and (min-width: $break-mobile ) and ( max-width: $break-tablet){
            display: none;
        }
        
        @media screen and (max-width: $break-mobile) {
            margin: 20px 0;
        }
    &__img{
        width: 35px;
    }
}
    @media screen and (max-width: $break-mobile) {
        flex-direction: column-reverse;
      }
}

.input {
    border: 2px solid #eeeeee;
    border-radius: 4px;
    background-image: url(../images/search.svg);
    background-position: 6px 5px;
    background-size: 25px 30px;
    background-repeat: no-repeat;
    color: $grey;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 40px;
    padding: 0px 40px;
    width: 50%;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: $grey;
    }
    @media only screen and (max-width: $break-mobile){
        width: auto;
    }
}

.carousel {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__container{
        margin: 15px 0px;
        padding-bottom: 10px;
        @media screen and (max-width: $break-mobile) {
            text-align: center;
          }
    }
    &-item {
        width: 200px;
        border-radius: 2px;
        margin: 0 20px 20px 0;
        display: inline-block;
        border: 1px solid $grey;
        box-shadow: 0 0 5px $grey;
        @media screen and (max-width: $break-mobile) {
            width: 157px;
            margin: 0 10px 20px 0;
          }
        &--noresults{
            display: none; 
            width: 100%; 
            justify-content: center;
            &__title{
                text-align: center;
            }
        }
        &__img{
            width: 150px;
            object-fit: cover;
            margin: 0 auto;
        }
        &-img{
            &__img{
                width: 150px;
                padding-top: 20px;  
                margin: 0 auto;
            }
        }
        &__details{
            font-size: 10px;
            width: 150px;
            margin: 0 auto;
            &--title{
                color: $black;
                margin: 15px 0 35px 0;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            &--subtitle{
                margin: 10px 0;
                text-decoration: line-through;
                text-align: center;
                font-size: 14px;
            }
            &--discount{
                margin: 10px 0;
                color: #d06c67;
                font-weight: bolder ;
                text-align: center;
                font-size: 14px;
            }
            &--color{
                margin: 10px 0;
                color: #b8b8be;
                font-weight: bolder ;
                text-align: center;
                font-size: 14px;
            }
            &--button{
                text-align: center;
                padding: 20px;
                &__button{
                    background-color: #0172ea;
                    border-color: #0172ea;
                    font-weight: normal;
                    border: 1px solid transparent;
                    white-space: nowrap;
                    padding: 6px 12px;
                    font-size: 18px;
                    line-height: 1.42857143;
                    border-radius: 10px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    color: #fff;
                    cursor: pointer;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}

.footer {
    @include flex;
    height: 100px;
    width: 100%;
    cursor: pointer;
    & a{
        color: $black;
        font-size: 14px;
        font-family: 'Muli', sans-serif;
        margin: 10px;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}